/* styles.css */
body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #000;
            /* Change to anthracite color */
            font-family: Arial, sans-serif;
            color: white;
            /* Change text color to white */
            position: relative;
            overflow: hidden;
        }

        #background-heart {
            position: absolute;
            width: 800px;
            /* Set the fixed width */
            height: 750px;
            /* Set the fixed height */
            top: 5%;
            left: 7%;
            transform: translate(-50%, -50%);
            background-image: url('./assets/herz_w.png');
            background-size: contain;
            /* Scale the image to fit the container */
            background-repeat: no-repeat;
            opacity: 0.8; /* Adjust the opacity level */
            background-position: center center;
            /* Center the heart image */
            animation: heartbeat 3s infinite;
        }

        #countdown {
            font-size: 3rem;
            text-align: center;
            position: relative;
            z-index: 1;
            padding: 20px;
        }

        #text-container {
            font-size: 1.5rem;
            margin-top: 20px;
        }

        #video-container {
            display: none;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: contain;
            /* Keep original video resolution */
            background-color: black;
        }

        @keyframes heartbeat {

            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }
        }

        /* Media query for screens up to 768px wide (iPhone 14 and other mobile devices) */
        @media (max-width: 768px) {
            #background-heart {
                width: 50%;
                height: 50%;
            }

            #countdown {
                font-size: 2rem;
            }
        }

        /* Add your CSS styling here */